.u-section-1 .u-sheet-1 {
  min-height: 1104px;
}

.u-section-1 .u-image-1 {
  width: 44px;
  height: 980px;
  margin: 12px auto 0 354px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1rem;
  margin: -918px auto 0 30px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 94px;
  margin: -25px 112px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  margin: -57px auto 0 30px;
}

.u-section-1 .u-image-3 {
  width: 429px;
  height: 429px;
  margin: 62px 253px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 231px;
  margin: 21px 112px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: HumanSans-Regular;
  margin: 30px auto 60px 466px;
  padding: 8px 30px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    font-weight: normal;
    text-transform: none;
    margin-left: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 89px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 111px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 219px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 296px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 56px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 138px;
  }
}@font-face {
  font-family: 'HumanSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Regular.otf);
}@font-face {
  font-family: 'HumanSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Medium.otf);
}@font-face {
  font-family: 'HumanSans-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Black.otf);
}