.u-section-1 .u-sheet-1 {
  min-height: 1955px;
}

.u-section-1 .u-text-1 {
  font-family: HumanSans-Black;
  text-align: left;
  margin: 122px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: HumanSans-Regular;
  background-image: none;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-1 .u-image-1 {
  width: 257px;
  height: 256px;
  transition-duration: 0.5s;
  margin: 40px 169px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 115px;
  min-height: 48px;
  margin: -69px 149px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0 12px 0 0;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -235px auto 0 122px;
}

.u-section-1 .u-group-2 {
  width: 115px;
  min-height: 48px;
  margin: -69px auto 0 282px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0 12px 0 0;
}

.u-section-1 .u-image-3 {
  width: 257px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -235px auto 0 418px;
}

.u-section-1 .u-group-3 {
  width: 115px;
  min-height: 48px;
  margin: -69px 440px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  background-image: none;
  margin: 0 12px 0 0;
}

.u-section-1 .u-image-4 {
  width: 257px;
  height: 256px;
  transition-duration: 0.5s;
  margin: 61px auto 0 418px;
}

.u-section-1 .u-group-4 {
  width: 115px;
  min-height: 48px;
  margin: -69px 440px 0 auto;
}

.u-section-1 .u-text-6 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 15px 14px 0 -2px;
}

.u-section-1 .u-image-5 {
  width: 257px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -235px 169px 0 auto;
}

.u-section-1 .u-group-5 {
  width: 115px;
  min-height: 48px;
  margin: -69px 149px 0 auto;
}

.u-section-1 .u-text-7 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 15px 14px 0 -2px;
}

.u-section-1 .u-image-6 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -235px auto 0 122px;
}

.u-section-1 .u-group-6 {
  width: 115px;
  min-height: 48px;
  margin: -69px auto 0 282px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 15px 12px 0 0;
}

.u-section-1 .u-image-7 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: 61px auto 0 418px;
}

.u-section-1 .u-group-7 {
  width: 115px;
  min-height: 48px;
  margin: -69px 440px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 15px 15px 0 -3px;
}

.u-section-1 .u-image-8 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -234px auto 0 122px;
}

.u-section-1 .u-group-8 {
  width: 115px;
  min-height: 48px;
  margin: -70px auto 0 282px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0 12px 0 0;
}

.u-section-1 .u-image-9 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -234px 171px 0 auto;
}

.u-section-1 .u-group-9 {
  width: 115px;
  min-height: 48px;
  margin: -70px 149px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0 12px 0 0;
}

.u-section-1 .u-image-10 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: 63px auto 0 122px;
}

.u-section-1 .u-group-10 {
  width: 115px;
  min-height: 48px;
  margin: -68px auto 0 282px;
}

.u-section-1 .u-text-12 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 14px 14px 0 -2px;
}

.u-section-1 .u-image-11 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -236px auto 0 418px;
}

.u-section-1 .u-group-11 {
  width: 115px;
  min-height: 48px;
  margin: -68px 440px 0 auto;
}

.u-section-1 .u-text-13 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 14px 16px 0 -4px;
}

.u-section-1 .u-image-12 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -236px 171px 0 auto;
}

.u-section-1 .u-group-12 {
  width: 115px;
  min-height: 48px;
  margin: -68px 149px 0 auto;
}

.u-section-1 .u-text-14 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0 12px 0 0;
}

.u-section-1 .u-image-13 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: 61px 315px 0 auto;
}

.u-section-1 .u-group-13 {
  width: 115px;
  min-height: 48px;
  margin: -70px 293px 0 auto;
}

.u-section-1 .u-text-15 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 14px 15px 0 -3px;
}

.u-section-1 .u-image-14 {
  width: 255px;
  height: 256px;
  transition-duration: 0.5s;
  margin: -234px auto 0 274px;
}

.u-section-1 .u-group-14 {
  width: 115px;
  min-height: 48px;
  margin: -70px auto 0 441px;
}

.u-section-1 .u-text-16 {
  transition-duration: 0.5s;
  font-family: HumanSans-Regular;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 14px 15px 0 -3px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: HumanSans-Medium;
  margin: 105px auto 60px 493px;
  padding: 9px 35px 11px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -37px;
  }

  .u-section-1 .u-image-1 {
    height: 257px;
    margin-top: 44px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -35px;
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-image-2 {
    margin-top: -398px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -132px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -35px;
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-image-3 {
    height: 257px;
    margin-top: -191px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -436px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -35px;
    font-weight: bold;
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-image-4 {
    height: 257px;
    margin-top: 376px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -133px;
  }

  .u-section-1 .u-image-5 {
    height: 257px;
    margin-top: -172px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -133px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -172px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -132px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -35px;
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-image-10 {
    margin-top: -49px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -184px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -17px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -182px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -122px;
  }

  .u-section-1 .u-group-12 {
    margin-top: -289px;
  }

  .u-section-1 .u-image-13 {
    margin-top: -40px;
  }

  .u-section-1 .u-group-13 {
    margin-top: 33px;
  }

  .u-section-1 .u-btn-1 {
    text-transform: none;
    margin-left: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: -163px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 170px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 234px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 221px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -524px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 221px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -569px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -310px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 221px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 502px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -7px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -298px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -7px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -298px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 221px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -10px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -293px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -11px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -119px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -185px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -14px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 114px;
  }

  .u-section-1 .u-group-13 {
    margin-top: -118px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -289px;
  }

  .u-section-1 .u-group-14 {
    margin-top: -15px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 255px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -566px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -111px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -361px;
    margin-left: 283px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -518px;
    margin-right: 425px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 283px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 14px;
    margin-right: 425px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -319px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -319px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -111px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 285px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 425px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -161px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -143px;
    margin-left: 285px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -56px;
    margin-right: 425px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 156px;
    margin-right: 285px;
  }

  .u-section-1 .u-group-13 {
    margin-top: -160px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -247px;
  }

  .u-section-1 .u-group-14 {
    margin-top: -57px;
    margin-left: 425px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: -152px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 83px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 105px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -266px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -261px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 83px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 225px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 83px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -136px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -169px;
    margin-right: 83px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -136px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -169px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -261px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 85px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -69px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -234px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -70px;
    margin-left: 225px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 85px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 85px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -184px;
    margin-left: 225px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -17px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -182px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 85px;
  }

  .u-section-1 .u-image-13 {
    margin-top: -40px;
    margin-right: 85px;
  }

  .u-section-1 .u-group-13 {
    margin-top: 33px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -234px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-14 {
    margin-top: -70px;
    margin-left: 225px;
  }
}

.u-section-1 .u-image-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-2:hover {
  opacity: 0.5 !important;
}

.u-section-1 .u-text-4,
.u-container-layout .u-section-1 .u-text-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-4:hover,
.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-image-6 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-6:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-container-layout .u-section-1 .u-text-5 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-5:hover,
.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-3,
.u-container-layout .u-section-1 .u-text-3 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-3:hover,
.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-8,
.u-container-layout .u-section-1 .u-text-8 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-8:hover,
.u-section-1 .u-container-layout:hover .u-text-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-6,
.u-container-layout .u-section-1 .u-text-6 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-6:hover,
.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-7,
.u-container-layout .u-section-1 .u-text-7 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-7:hover,
.u-section-1 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-image-8 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-8:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-7 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-7:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-9 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-9:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-14 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-14:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-13 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-13:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-10,
.u-container-layout .u-section-1 .u-text-10 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-10:hover,
.u-section-1 .u-container-layout:hover .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-9,
.u-container-layout .u-section-1 .u-text-9 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-9:hover,
.u-section-1 .u-container-layout:hover .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-11,
.u-container-layout .u-section-1 .u-text-11 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-11:hover,
.u-section-1 .u-container-layout:hover .u-text-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-image-10 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-10:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-11 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-11:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-12 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-12:hover {
  opacity: 0.5 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-12,
.u-container-layout .u-section-1 .u-text-12 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-12:hover,
.u-section-1 .u-container-layout:hover .u-text-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-13,
.u-container-layout .u-section-1 .u-text-13 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-13:hover,
.u-section-1 .u-container-layout:hover .u-text-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-14,
.u-container-layout .u-section-1 .u-text-14 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-14:hover,
.u-section-1 .u-container-layout:hover .u-text-14 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-16,
.u-container-layout .u-section-1 .u-text-16 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-16:hover,
.u-section-1 .u-container-layout:hover .u-text-16 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-15,
.u-container-layout .u-section-1 .u-text-15 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-15:hover,
.u-section-1 .u-container-layout:hover .u-text-15 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-image-3 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-3:hover {
  opacity: 0.5 !important;
}

.u-section-1 .u-image-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-1:hover {
  opacity: 0.5 !important;
}

.u-section-1 .u-image-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-4:hover {
  opacity: 0.5 !important;
}

.u-section-1 .u-image-5 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-image-5:hover {
  opacity: 0.5 !important;
}@font-face {
  font-family: 'HumanSans-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Black.otf);
}@font-face {
  font-family: 'HumanSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Regular.otf);
}@font-face {
  font-family: 'HumanSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Medium.otf);
}