.u-section-1 .u-sheet-1 {
  min-height: 709px;
}

.u-section-1 .u-image-1 {
  height: 507px;
  margin-top: 142px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: HumanSans-Black;
  margin: -396px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: HumanSans-Regular;
  margin: 38px auto 60px;
}@font-face {
  font-family: 'HumanSans-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Black.otf);
}@font-face {
  font-family: 'HumanSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Regular.otf);
}@font-face {
  font-family: 'HumanSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Medium.otf);
}