.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: 0;
  transform-origin: center top 0px;
  position: absolute;
  height: 626px;
  right: 218px;
}

.u-section-1 .u-line-2 {
  left: 217px;
  top: 0;
  transform-origin: center top 0px;
  position: absolute;
  height: 623px;
}

.u-section-1 .u-image-1 {
  width: 55px;
  height: 54px;
  background-image: url("images/Influencer-AndreaLee.png");
  background-position: 50% 50%;
  text-align: start;
  margin: 20px auto 0 244px;
}

.u-section-1 .u-text-1 {
  font-family: HumanSans-Medium;
  font-size: 0.875rem;
  text-align: left;
  margin: -47px auto 0 311px;
}

.u-section-1 .u-group-1 {
  width: 220px;
  background-image: none;
  min-height: 23px;
  margin: -10px auto 0 -43px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 24px;
  padding-right: 24px;
}

.u-section-1 .u-text-2 {
  font-family: HumanSans-Regular;
  font-size: 0.625rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: HumanSans-Regular;
  text-align: start;
  font-size: 0.75rem;
  margin: -13px 740px 0 311px;
}

.u-section-1 .u-image-2 {
  width: 87px;
  height: 85px;
  background-image: url("images/Influencer-AndreaLee.png");
  background-position: 50% 50%;
  text-align: start;
  margin: 0 27px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 253px;
  background-image: linear-gradient(to right, #ff1212, #ffb24a);
  min-height: 63px;
  margin: -72px auto 0 -60px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-1 .u-image-3 {
  width: 40px;
  height: 39px;
  background-image: url("images/Influencer-AndreaLee.png");
  background-position: 50% 50%;
  text-align: start;
  margin: 0 auto 0 5px;
}

.u-section-1 .u-text-4 {
  font-family: HumanSans-Medium;
  font-size: 0.625rem;
  margin: -36px auto 0 60px;
}

.u-section-1 .u-shape-1 {
  width: 7px;
  height: 7px;
  margin: -3px 7px 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: HumanSans-Regular;
  text-align: start;
  font-size: 0.625rem;
  margin: -4px 17px 4px auto;
}

.u-section-1 .u-shape-2 {
  width: 75px;
  height: 24px;
  background-image: none;
  margin: -52px auto 0 824px;
}

.u-section-1 .u-text-6 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 257px 0 838px;
}

.u-section-1 .u-group-3 {
  width: 196px;
  min-height: 24px;
  margin: 42px auto 0 703px;
}

.u-section-1 .u-shape-3 {
  background-image: none;
  text-align: start;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-group-4 {
  background-image: none;
  text-align: start;
  min-height: 25px;
  width: 168px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 8px;
}

.u-section-1 .u-text-7 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: 4px 10px 0;
}

.u-section-1 .u-text-8 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -13px -561px 0 714px;
}

.u-section-1 .u-text-9 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: 8px 1px 0;
}

.u-section-1 .u-image-4 {
  width: 40px;
  height: 39px;
  background-image: url("images/Influencer-KateLi.png");
  background-position: 50% 50%;
  text-align: start;
  margin: -22px auto 0 -47px;
}

.u-section-1 .u-text-10 {
  font-family: HumanSans-Medium;
  font-size: 0.625rem;
  text-align: left;
  margin: -36px auto 0 8px;
}

.u-section-1 .u-text-11 {
  font-family: HumanSans-Medium;
  font-size: 1rem;
  text-align: left;
  margin: -4px auto 0 1027px;
}

.u-section-1 .u-text-12 {
  font-family: HumanSans-Regular;
  text-align: start;
  font-size: 0.625rem;
  margin: -21px 968px 0 8px;
}

.u-section-1 .u-shape-4 {
  width: 278px;
  height: 24px;
  background-image: linear-gradient(to right, #ff1212, #ff6438);
  margin: 4px auto 0 290px;
}

.u-section-1 .u-text-13 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 585px 0 303px;
}

.u-section-1 .u-text-14 {
  font-family: HumanSans-Regular;
  text-align: start;
  font-size: 0.75rem;
  margin: -17px 0 0 1013px;
}

.u-section-1 .u-image-5 {
  width: 40px;
  height: 39px;
  background-image: url("images/Influencer-ChristinaHe.png");
  background-position: 50% 50%;
  text-align: start;
  margin: 3px auto 0 -47px;
}

.u-section-1 .u-text-15 {
  font-family: HumanSans-Medium;
  font-size: 0.625rem;
  text-align: left;
  margin: -35px auto 0 8px;
}

.u-section-1 .u-shape-5 {
  width: 236px;
  height: 24px;
  background-image: linear-gradient(to right, #ff1212, #ff6438);
  text-align: start;
  margin: -14px auto 0 290px;
}

.u-section-1 .u-text-16 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 627px 0 303px;
}

.u-section-1 .u-shape-6 {
  width: 7px;
  height: 7px;
  background-image: linear-gradient(#ff1212, #ff8a4a);
  margin: -10px auto 0 172px;
}

.u-section-1 .u-text-17 {
  font-family: HumanSans-Medium;
  font-size: 1rem;
  text-align: left;
  margin: -1px 17px 0 auto;
}

.u-section-1 .u-text-18 {
  font-family: HumanSans-Regular;
  text-align: start;
  font-size: 0.625rem;
  margin: -25px auto 0 8px;
}

.u-section-1 .u-shape-7 {
  width: 251px;
  height: 24px;
  background-image: linear-gradient(to right, #ff6438, #ff8a4a);
  text-align: start;
  margin: 0 auto 0 290px;
}

.u-section-1 .u-text-19 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 614px 0 306px;
}

.u-section-1 .u-text-20 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -2px -41px 0 959px;
}

.u-section-1 .u-image-6 {
  width: 36px;
  height: 35px;
  background-image: url("images/Influencer-AndreaLee.png");
  background-position: 50% 50%;
  text-align: start;
  margin: -93px auto 0 242px;
}

.u-section-1 .u-image-7 {
  width: 40px;
  height: 39px;
  background-image: url("images/Influencer-KateTina.png");
  background-position: 50% 50%;
  text-align: start;
  margin: -30px auto 0 -47px;
}

.u-section-1 .u-text-21 {
  font-family: HumanSans-Medium;
  font-size: 0.625rem;
  text-align: left;
  margin: -36px auto 0 8px;
}

.u-section-1 .u-shape-8 {
  width: 195px;
  height: 24px;
  background-image: linear-gradient(to right, #ff6438, #ff8a4a);
  text-align: start;
  margin: -13px auto 0 290px;
}

.u-section-1 .u-text-22 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 668px 0 303px;
}

.u-section-1 .u-text-23 {
  font-family: HumanSans-Regular;
  text-align: start;
  font-size: 0.625rem;
  margin: -7px 971px 0 8px;
}

.u-section-1 .u-group-5 {
  background-image: none;
  text-align: start;
  min-height: 24px;
  width: 128px;
  margin: 0 auto 0 770px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 8px;
}

.u-section-1 .u-text-24 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  width: 96px;
  margin: 0 auto;
}

.u-section-1 .u-text-25 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.4;
  margin: 6px 1019px 0 0;
}

.u-section-1 .u-group-6 {
  width: 255px;
  min-height: 24px;
  text-align: left;
  margin: -27px auto 0 643px;
}

.u-section-1 .u-shape-9 {
  background-image: none;
  text-align: start;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-text-26 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px -562px 0 774px;
}

.u-section-1 .u-text-27 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: 8px 1px 0;
}

.u-section-1 .u-shape-10 {
  width: 262px;
  height: 24px;
  background-image: linear-gradient(to right, #ff6438, #ff8a4a);
  text-align: start;
  margin: 16px auto 0 290px;
}

.u-section-1 .u-text-28 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 593px 0 294px;
}

.u-section-1 .u-image-8 {
  width: 36px;
  height: 35px;
  background-image: url("images/Influencer-AndreaLee.png");
  background-position: 50% 50%;
  text-align: start;
  margin: 0 auto 0 242px;
}

.u-section-1 .u-text-29 {
  font-family: HumanSans-Medium;
  font-size: 1rem;
  text-align: left;
  margin: -25px 32px 0 1032px;
}

.u-section-1 .u-shape-11 {
  width: 376px;
  height: 24px;
  background-image: linear-gradient(to right, #ff6438, #ffb24a);
  text-align: start;
  margin: -24px auto 0 290px;
}

.u-section-1 .u-text-30 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 489px 0 305px;
}

.u-section-1 .u-image-9 {
  width: 30px;
  height: 30px;
  margin: 14px 93px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 30px;
  height: 30px;
  margin: -30px 18px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 30px;
  height: 30px;
  margin: -30px 55px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.75rem;
  background-image: none;
  font-family: HumanSans-Regular;
  font-weight: normal;
  margin: 67px 0 0 auto;
  padding: 3px 19px 5px 18px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.625rem;
  background-image: linear-gradient(to right, #ff1212, #ffb24a);
  font-family: HumanSans-Medium;
  font-weight: normal;
  margin: -26px auto 0 809px;
  padding: 5px 16px 6px 15px;
}

.u-section-1 .u-shape-12 {
  width: 522px;
  height: 25px;
  background-image: none;
  text-align: start;
  margin: -26px auto 0 276px;
}

.u-section-1 .u-text-31 {
  font-family: HumanSans-Regular;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.6;
  margin: -20px 726px 50px 288px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 1px;
  }

  .u-section-1 .u-line-2 {
    width: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 54px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 6px;
    margin-right: 638px;
    margin-left: 213px;
  }

  .u-section-1 .u-image-2 {
    width: 85px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-3 {
    width: 39px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 157px;
    margin-left: 738px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 57px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: initial;
    margin-top: initial;
  }

  .u-section-1 .u-group-4 {
    margin-right: 367px;
  }

  .u-section-1 .u-image-4 {
    width: 39px;
    margin-top: -102px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -71px;
    margin-left: 847px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 46px;
    margin-right: 768px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 167px;
  }

  .u-section-1 .u-text-13 {
    width: 253px;
    margin-top: -95px;
    margin-right: 485px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -106px;
    margin-left: 835px;
  }

  .u-section-1 .u-image-5 {
    width: 39px;
    margin-top: 18px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -66px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 527px;
    margin-left: 203px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 747px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -707px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -11px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 558px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 514px;
    margin-left: 206px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -566px;
    margin-left: 859px;
  }

  .u-section-1 .u-image-6 {
    width: 35px;
    margin-top: 279px;
  }

  .u-section-1 .u-image-7 {
    width: 39px;
    margin-top: -491px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: 144px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 568px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -165px;
    margin-right: 771px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 215px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 12px;
    margin-right: 819px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -41px;
  }

  .u-section-1 .u-shape-9 {
    margin-left: initial;
    margin-top: initial;
  }

  .u-section-1 .u-text-26 {
    margin-left: 773px;
  }

  .u-section-1 .u-shape-10 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 493px;
    margin-left: 194px;
  }

  .u-section-1 .u-image-8 {
    width: 35px;
    margin-top: -1px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 185px;
    margin-right: 0;
    margin-left: 851px;
  }

  .u-section-1 .u-shape-11 {
    margin-top: -137px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 389px;
    margin-left: 205px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 128px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -89px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -65px;
    margin-left: 609px;
  }

  .u-section-1 .u-shape-12 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 626px;
    margin-left: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 238px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 528px;
    margin-left: 103px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 645px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 47px;
    margin-left: 628px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 17px;
    margin-left: 524px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -20px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -29px;
    margin-left: 649px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -21px;
    margin-right: 548px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 1911px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 375px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -1850px;
    margin-left: 640px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 1679px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 417px;
    margin-left: 93px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 652px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -2356px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 2302px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 404px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -2310px;
    margin-left: 749px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -1465px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: 1888px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 458px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -1909px;
    margin-right: 551px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 592px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 599px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 465px;
  }

  .u-section-1 .u-shape-10 {
    margin-top: 1754px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 383px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 652px;
  }

  .u-section-1 .u-shape-11 {
    margin-top: -233px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 279px;
    margin-left: 95px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 223px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -185px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 389px;
  }

  .u-section-1 .u-shape-12 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 516px;
    margin-left: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 179px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 438px;
    margin-left: 13px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 465px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 495px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 344px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 487px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 368px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 3271px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 285px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -3210px;
    margin-left: 480px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 3038px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 327px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -3716px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 3662px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 314px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -3670px;
    margin-left: 659px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -2825px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: 3248px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 368px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -3269px;
    margin-right: 371px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 412px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 419px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 412px;
    margin-left: 285px;
  }

  .u-section-1 .u-shape-10 {
    margin-top: 3114px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 287px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 489px;
  }

  .u-section-1 .u-shape-11 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 189px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 209px;
  }

  .u-section-1 .u-shape-12 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 414px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 251px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 265px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 295px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 36px;
    margin-left: 144px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 214px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -259px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -39px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 168px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 3290px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: -3229px;
    margin-left: 302px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 3039px;
    margin-left: 104px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 130px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 120px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 559px;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 145px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 171px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 171px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 212px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 219px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 212px;
    margin-left: 85px;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 87px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 169px;
    margin-left: 308px;
  }

  .u-section-1 .u-shape-11 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    margin-top: 207px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 9px;
  }

  .u-section-1 .u-shape-12 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 214px;
  }
}@font-face {
  font-family: 'HumanSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Medium.otf);
}@font-face {
  font-family: 'HumanSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Regular.otf);
}@font-face {
  font-family: 'HumanSans-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Black.otf);
}