.u-section-1 .u-sheet-1 {
  min-height: 934px;
}

.u-section-1 .u-shape-1 {
  width: 263px;
  height: 310px;
  text-align: start;
  margin: 13px 657px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 2px;
  margin: -317px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 326px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-shape-2 {
  width: 263px;
  height: 310px;
  text-align: start;
  margin: -318px 51px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 50px;
  height: 50px;
  background-image: url("images/Influencer-ChristinaHe.png");
  background-position: 50% 50%;
  text-align: start;
  margin: -289px 245px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: HumanSans-Medium;
  font-size: 0.75rem;
  text-align: start;
  margin: -44px auto 0 910px;
}

.u-section-1 .u-text-2 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -2px 90px 0 910px;
}

.u-section-1 .u-image-2 {
  width: 225px;
  height: 106px;
  text-align: start;
  margin: 20px auto 0 845px;
}

.u-section-1 .u-text-3 {
  font-family: HumanSans-Medium;
  font-size: 1.25rem;
  text-align: start;
  margin: 25px 76px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -48px 52px 0 1023px;
}

.u-section-1 .u-text-5 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -19px 172px 0 849px;
}

.u-section-1 .u-image-3 {
  width: 24px;
  height: 24px;
  text-align: left;
  margin: 1px auto 0 849px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  font-family: HumanSans-Medium;
  text-align: center;
  border-style: solid;
  font-weight: 500;
  background-image: linear-gradient(to right, #ff1212, #ff8a4a);
  margin: 13px 108px 0 auto;
  padding: 3px 16px 4px 14px;
}

.u-section-1 .u-group-1 {
  width: 135px;
  min-height: 28px;
  margin: -69px 761px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 24px;
  height: 24px;
  margin: 0 60px 0 0;
}

.u-section-1 .u-image-5 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 30px;
}

.u-section-1 .u-image-6 {
  width: 24px;
  height: 24px;
  margin: -24px 50px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 50px;
  height: 50px;
  background-image: url("images/242461079_579226333208522_1857468060588739554_n.jpg");
  background-position: 50% 50%;
  text-align: start;
  margin: -226px 851px 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: HumanSans-Medium;
  font-size: 0.75rem;
  text-align: start;
  margin: -44px auto 0 304px;
}

.u-section-1 .u-text-7 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: 0 696px 0 304px;
}

.u-section-1 .u-image-8 {
  width: 225px;
  height: 106px;
  text-align: start;
  margin: 18px auto 0 239px;
}

.u-section-1 .u-text-8 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: 9px 778px 0 243px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  font-family: HumanSans-Medium;
  text-align: center;
  border-style: solid;
  font-weight: 500;
  background-image: linear-gradient(to right, #ff1212, #ff8a4a);
  margin: 38px 714px 0 auto;
  padding: 3px 16px 4px 14px;
}

.u-section-1 .u-text-9 {
  font-family: HumanSans-Medium;
  font-size: 1.25rem;
  text-align: start;
  margin: -72px auto 0 418px;
}

.u-section-1 .u-text-10 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -48px 658px 0 417px;
}

.u-section-1 .u-shape-3 {
  width: 263px;
  height: 310px;
  text-align: start;
  margin: -215px 354px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 50px;
  height: 50px;
  background-image: url("images/243557418_868868173801021_9158301754084609427_n.jpg");
  background-position: 50% 50%;
  text-align: start;
  margin: -289px 548px 0 auto;
}

.u-section-1 .u-text-11 {
  font-family: HumanSans-Medium;
  font-size: 0.75rem;
  text-align: start;
  margin: -44px auto 0 607px;
}

.u-section-1 .u-text-12 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: 0 393px 0 607px;
}

.u-section-1 .u-image-10 {
  width: 225px;
  height: 106px;
  text-align: start;
  margin: 18px auto 0 542px;
}

.u-section-1 .u-text-13 {
  font-family: HumanSans-Medium;
  font-size: 1.25rem;
  text-align: start;
  margin: 25px auto 0 721px;
}

.u-section-1 .u-text-14 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -48px 355px 0 720px;
}

.u-section-1 .u-text-15 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -19px 475px 0 546px;
}

.u-section-1 .u-image-11 {
  width: 24px;
  height: 24px;
  margin: 2px auto 0 547px;
}

.u-section-1 .u-image-12 {
  width: 24px;
  height: 24px;
  margin: -24px 539px 0 auto;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  font-family: HumanSans-Medium;
  text-align: center;
  border-style: solid;
  font-weight: 500;
  background-image: linear-gradient(to right, #ff1212, #ff8a4a);
  margin: 12px 411px 0 auto;
  padding: 3px 16px 4px 14px;
}

.u-section-1 .u-text-16 {
  font-family: HumanSans-Medium;
  text-align: start;
  font-weight: normal;
  margin: -284px 982px 0 33px;
}

.u-section-1 .u-text-17 {
  font-family: HumanSans-Regular;
  margin: 15px 934px 0 65px;
}

.u-section-1 .u-shape-4 {
  width: 15px;
  height: 15px;
  background-image: linear-gradient(#ff6438, #ff8a4a);
  margin: -145px auto 0 43px;
}

.u-section-1 .u-shape-5 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 11px auto 0 43px;
}

.u-section-1 .u-shape-6 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 9px auto 0 43px;
}

.u-section-1 .u-shape-7 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 10px auto 0 43px;
}

.u-section-1 .u-shape-8 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 10px auto 0 43px;
}

.u-section-1 .u-shape-9 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 10px auto 0 43px;
}

.u-section-1 .u-text-18 {
  font-family: HumanSans-Medium;
  text-align: start;
  font-weight: normal;
  margin: 30px 953px 0 33px;
}

.u-section-1 .u-text-19 {
  font-family: HumanSans-Regular;
  text-align: start;
  margin: 15px 950px 0 65px;
}

.u-section-1 .u-shape-10 {
  width: 15px;
  height: 15px;
  background-image: linear-gradient(#ff6438, #ff8a4a);
  margin: -96px auto 0 43px;
}

.u-section-1 .u-shape-11 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 11px auto 0 43px;
}

.u-section-1 .u-shape-12 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 11px auto 0 43px;
}

.u-section-1 .u-shape-13 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 9px auto 0 43px;
}

.u-section-1 .u-shape-14 {
  width: 263px;
  height: 310px;
  text-align: start;
  margin: -2px 657px 0 auto;
}

.u-section-1 .u-image-13 {
  width: 50px;
  height: 50px;
  background-image: url("images/Influencer-KateTina.png");
  background-position: 50% 50%;
  text-align: start;
  margin: -289px 851px 0 auto;
}

.u-section-1 .u-text-20 {
  font-family: HumanSans-Medium;
  font-size: 0.75rem;
  text-align: start;
  margin: -44px auto 0 304px;
}

.u-section-1 .u-text-21 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -2px 696px 0 304px;
}

.u-section-1 .u-image-14 {
  width: 225px;
  height: 106px;
  text-align: start;
  margin: 20px auto 0 239px;
}

.u-section-1 .u-text-22 {
  font-family: HumanSans-Medium;
  font-size: 1.25rem;
  text-align: start;
  margin: 25px auto 0 425px;
}

.u-section-1 .u-text-23 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -48px 658px 0 417px;
}

.u-section-1 .u-text-24 {
  font-family: HumanSans-Regular;
  font-size: 0.75rem;
  text-align: start;
  margin: -19px 778px 0 243px;
}

.u-section-1 .u-image-15 {
  width: 24px;
  height: 24px;
  text-align: left;
  margin: 1px auto 0 243px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  font-family: HumanSans-Medium;
  text-align: center;
  border-style: solid;
  font-weight: 500;
  background-image: linear-gradient(to right, #ff1212, #ff8a4a);
  margin: 13px 714px 0 auto;
  padding: 3px 16px 4px 14px;
}

.u-section-1 .u-text-25 {
  font-family: HumanSans-Medium;
  text-align: start;
  font-weight: normal;
  margin: -249px 982px 0 33px;
}

.u-section-1 .u-text-26 {
  font-family: HumanSans-Regular;
  text-align: start;
  margin: 15px 950px 0 65px;
}

.u-section-1 .u-shape-15 {
  width: 15px;
  height: 15px;
  background-image: linear-gradient(#ff6438, #ff8a4a);
  margin: -95px auto 0 43px;
}

.u-section-1 .u-shape-16 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 11px auto 0 43px;
}

.u-section-1 .u-shape-17 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 10px auto 0 43px;
}

.u-section-1 .u-shape-18 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: 10px auto 60px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: -312px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: NaNpx;
    grid-auto-columns: NaN%;
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-shape-2 {
    margin-top: -317px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 750px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 50px;
    margin-left: 750px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 715px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 875px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 72px;
    margin-left: 749px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 496px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 678px;
    margin-left: 143px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 345px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 558px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 501px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 299px;
    margin-left: 501px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 595px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 255px;
    margin-left: 620px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 375px;
    margin-left: 446px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 85px;
    margin-left: 26px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 55px;
    margin-left: 56px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 211px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 815px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 799px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 786px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 815px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 496px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 558px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 678px;
    margin-left: 143px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -273px;
    margin-right: 815px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 815px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-17 {
    margin-top: -74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: 457px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-left: 574px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 574px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 495px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 655px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 601px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 696px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 585px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 670px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 347px;
    margin-left: 233px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 568px;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 264px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 448px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 384px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 196px;
    margin-left: 384px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 495px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 456px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 145px;
    margin-left: 510px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 265px;
    margin-left: 336px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 595px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 579px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 566px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 595px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: 457px;
  }

  .u-section-1 .u-image-13 {
    margin-right: 670px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 347px;
    margin-left: 233px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 268px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 448px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 568px;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 595px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 595px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-right: 277px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 431px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 431px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 315px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 475px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 421px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 516px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 405px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 490px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 225px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 421px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 358px;
    margin-left: 117px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 277px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 490px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 112px;
    margin-left: 288px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 315px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 342px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 55px;
    margin-left: 420px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 175px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 399px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 386px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 415px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: 277px;
  }

  .u-section-1 .u-image-13 {
    margin-right: 490px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 225px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 201px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 358px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 421px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 415px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 271px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 275px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 221px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 316px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 205px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 290px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 90px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 221px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 258px;
    margin-left: 17px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 77px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 290px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 19px;
    margin-left: 181px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 215px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 275px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 75px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 199px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 186px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 215px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: 77px;
  }

  .u-section-1 .u-image-13 {
    margin-right: 290px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 90px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 127px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 258px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 221px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 215px;
  }
}@font-face {
  font-family: 'HumanSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Medium.otf);
}@font-face {
  font-family: 'HumanSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Regular.otf);
}@font-face {
  font-family: 'HumanSans-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Black.otf);
}