.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-image-1 {
  width: 206px;
  height: 206px;
  margin: -68px 121px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: HumanSans-Black;
  text-align: left;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  width: 618px;
  margin: 24px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: HumanSans-Medium;
  margin: 49px auto 0;
  padding: 9px 35px 11px 33px;
}

.u-section-1 .u-image-2 {
  width: 206px;
  height: 206px;
  margin: -38px auto 5px 238px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 134px;
  }
}@font-face {
  font-family: 'HumanSans-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Black.otf);
}@font-face {
  font-family: 'HumanSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Medium.otf);
}@font-face {
  font-family: 'HumanSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HumanSans-Regular.otf);
}